<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StringsTable</key>
    <string>ThirdPartyLicenses</string>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>abseil</string>
        <key>File</key>
        <string>Acknowledgement-abseil</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>AcknowledgementGenerator</string>
        <key>File</key>
        <string>Acknowledgement-AcknowledgementGenerator</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>AppAuth</string>
        <key>File</key>
        <string>Acknowledgement-AppAuth</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>BoringSSL-GRPC</string>
        <key>File</key>
        <string>Acknowledgement-BoringSSL-GRPC</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>Firebase</string>
        <key>File</key>
        <string>Acknowledgement-Firebase</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseAuth</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseAuth</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseAuthInterop</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseAuthInterop</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseCore</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseCore</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseCoreDiagnostics</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseCoreDiagnostics</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseCoreDiagnosticsInterop</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseCoreDiagnosticsInterop</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseDatabase</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseDatabase</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseFirestore</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseFirestore</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseFirestoreSwift</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseFirestoreSwift</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseInstallations</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseInstallations</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FirebaseInstanceID</string>
        <key>File</key>
        <string>Acknowledgement-FirebaseInstanceID</string>
      </dict>
    </array>
  </dict>
</plist>
